.board_table {
    padding: 64px 16px;
    background-color: #398689;
}

.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: #D9BB93;
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enabled {
    background-color: #E9F1DF;
    color: #78BE97;
    border-radius: 10px;
}

cell:hover {
    color: #B1B2AE;
}

cell.enabled:hover {
    background-color: #FFCB05;
    color: #F23C50;
    cursor: pointer;
}
