.board_table {
    padding: 64px 16px;
    background-color: #398689;
}

.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #398689;
    color: #D9BB93;
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enabled {
    background-color: #D8FCE4 !important;
    color: #78BE97;
}

cell.enabled:hover {
    background-color: #78BE97;
    color: #fff;
    cursor: pointer;
}