.cell {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 5px solid #f4af78;
    font-size: 2em;
    font-family: 'Gochi Hand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    cursor: pointer;
    background-color: #00A3AF;
}

.coordinate {
    font-size: 0.8em;
}