.cell {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 5px solid #0B476D;
    font-size: 2em;
    font-family: 'Gochi Hand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coordinate {
    font-size: 0.8em;
}