<div>
    <div class="gameStatus">
        <div class="row">
            <p class="boardStatus col-sm-6">

                <b>Board Status</b>                         <br />
                width:          {{width}}                   <br />
                height          {{height}}                  <br />
                totalCells:     {{totalCells}}              <br />
                boardShape:     {{referee.boardShape}}      <br />
                smallSide:      {{referee.smallSide}}       <br />
                largeSide:      {{referee.largeSide}}       <br />
                gameMode:       {{gameMode}}                <br />
                limitDepth:     {{limitDepth}}              <br />
                start:          {{board.enableBoard}}

            </p>

            <p class="playerStatus col-sm-6">

                <b>Player Status</b>                        <br />
                Human:        {{player1}}                 <br />
                AI:           {{player2}}                 <br />
                <br />

                User go first:  {{isUserFirstPlayer}}             <br />
                Player's Turn:  {{currentPlayerTurn}}              <br />
                Winner:         {{winner}}                  <br />

            </p>
        </div>
    </div>

    <div class="board_menu">

        <div class="row">
            <div class="form-group col-sm-6">
                <div class="inputField">
                    <label>width:</label>
                    <input [(ngModel)]="width"
                           placeholder="{{width}}"
                           (input)="onChangeBoardWidth($event.target.value)"
                           type="text"
                           maxlength="2"
                           size="1">
                </div>
                <div class="inputField">
                    <label>height:</label>
                    <input [(ngModel)]="height"
                           placeholder="{{height}}"
                           (input)="onChangeBoardHeight($event.target.value)"
                           type="text"
                           maxlength="2"
                           size="1" />
                </div>
                <div class="inputField">
                    <label>Threshold Time (sec):</label>
                    <input [(ngModel)]="thresholdTime"
                           placeholder="{{thresholdTime}}"
                           type="text"
                           maxlength="2"
                           size="1" />
                </div>
                <div class="inputField">
                    <label>Timer:</label>
                    <span class="time-count-down">{{timeCountDown}}</span>
                </div>
            </div>

            <div class="game-mode col-sm-6">
                <form>
                    <div>
                        <label>First player?</label>
                        <input type="checkbox"
                               name="firstPlayer"
                               value="HVA"
                               [checked]="isUserFirstPlayer"
                               (click)="toggleFirstPlayer()"
                               [(ngModel)]="isUserFirstPlayer" />
                    </div>
                    <div>
                        <label>Limit depth</label>
                        <input type="checkbox"
                               name="depth"
                               value="HVA"
                               [checked]="limitDepth"
                               (click)="toggleLimitDepth()"
                               [(ngModel)]="limitDepth" />
                    </div>
                    <div>
                        <label>Human vs. AI</label>
                        <input type="radio"
                               name="gameMode"
                               value="HVA"
                               [(ngModel)]="gameMode"
                               checked="checked" />
                    </div>
                    <div>
                        <label>AI vs. AI</label>
                        <input type="radio"
                               name="gameMode"
                               value="AVA"
                               [(ngModel)]="gameMode" />
                    </div>
                </form>

            </div>
        </div>

    </div>

    <div class="status-bar">
        {{statusBar}}
    </div>


    <board [width]="width"
           [height]="height"
           (notifyCellSelectedPosition)='onNotifySelectedCellPosition($event)'>
    </board>

    <button class="start-game"
            (click)="startGame()">
        Start
    </button>
    <button class="new-game"
            (click)="newGame()">
        New Game
    </button>


    <div class="winning-condition-tables row">

        <div class="col-sm-3">
            <div class="text-center">
                <h4>Row</h4>
                <ul>
                    <li *ngFor="let r of winningRows">{{r}}</li>
                </ul>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="text-center">
                <h4>Column</h4>
                <ul>
                    <li *ngFor="let c of winningColumns">{{c}}</li>
                </ul>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="text-center">
                <h4>Diag\</h4>
                <ul>
                    <li *ngFor="let dd of winningDiagonalDowns">{{dd}}</li>
                </ul>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="text-center">
                <h4>Diag\</h4>
                <ul>
                    <li *ngFor="let du of winningDiagonalUps">{{du}}</li>
                </ul>
            </div>
        </div>
    </div> <!--end winning-condition-tables-->
</div>