.gameStatus {
    margin: 0px;
    padding: 15px;
    background-color: #112F41;
    color: #fff;
    font-size: 1em;
}

.board_menu {
    background-color: #112F41;
    margin: 0px;
    padding: 15px;
    font-size: 1.4em;
    font-weight: bold;
    display: block;
}

.board_menu label {
    color: #fff;
    width: 100px;
}

.board_menu label input {
    width: 20px;
    color: #43676B;
}

.board_menu .game-mode label {
    width: 200px;
}

input[type="text"] {
    text-align: center;
    background: #112F41;
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.winning-condition-tables{
    margin-bottom: 100px;
}

.new-game {
    background-color: #112F41;
    color: #fff;
    border: 0px;
    font-family: 'Dosis', Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0px;
    padding: 15px;
    width: 100%;
}

.new-game:hover {
    background-color: #236287;
    cursor: pointer;
}

.start-game {
    background-color: #448F3B;
    color: #fff;
    border: 0px;
    font-family: 'Dosis', Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0px;
    padding: 15px;
    width: 100%;
}

.start-game:hover {
    background-color: #59BD4D;
    cursor: pointer;
}